.recipes {
   width: 100%;
   background-color: #fff;
   text-align: center;
   padding-top: 150px;


   .title {
      font-size: 48px;
      color: #000;
      font-weight: 600;
   }

   .subtitle {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: 400;
      line-height: 28px;
      margin-top: 15px;
   }

   .card_box {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      margin: auto;
      justify-content: center;
      gap: 40px;
      justify-content: center;
      padding-top: 100px;
      padding-bottom: 100px;

      .card {
         position: relative;
         width: 290px;
         height: 400px;
         padding: 15px;
         border-radius: 30px;
         margin: auto;
         background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
         cursor: pointer;
         transition: all 0.2s;

         &:hover {
            transform: scale(1.05);
         }

         .img_box {
            width: 100%;
            height: 220px;
            position: relative;
            border-radius: 20px;
            overflow: hidden;

            .img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }

            .like {
               position: absolute;
               top: 20px;
               right: 20px;
            }
         }

         .content_box {
            height: fit-content;

            .title {
               line-height: 32px;
               font-size: 22px;
               color: #000;
               text-align: left;
               margin-top: 10px;
            }

            .flex {
               height: fit-content;
               position: absolute;
               display: flex;
               gap: 30px;
               align-items: center;
               float: bottom;
               left: 15px;
               bottom: 15px;

               div {
                  display: flex;
                  align-items: center;
                  gap: 15px;

                  p {
                     font-size: 14px;
                     color: rgba(0, 0, 0, 0.6);
                     font-weight: 500;
                  }
               }
            }
         }
      }

      .card.ads {
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      .ads {
         padding: 0;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
}

@media(max-width: 767px) {
   .recipes {
      .title {
         font-size: 40px;
      }

      .subtitle {
         font-size: 16px;
         line-height: 28px;
      }

      .card_box {
         .card {
            .content_box {
               .title {
                  line-height: 28px;
                  font-size: 20px;
               }

               .flex {
                  div {
                     gap: 15px;

                     p {
                        font-size: 14px;
                     }
                  }
               }
            }
         }
      }
   }
}

@media(max-width: 500px) {
   .recipes {
      .title {
         font-size: 30px;
      }

      .subtitle {
         font-size: 14px;
         line-height: 28px;
      }

      .card_box {
         padding-top: 50px;

         .card {
            width: 95%;

            .img_box {
               .like {
                  width: 30px;
                  height: 30px;
                  object-fit: cover;
                  top: 15px;
                  right: 15px;
               }
            }

            .content_box {
               .title {
                  line-height: 25px;
                  font-size: 18px;
               }

               .flex {
                  gap: 30px;

                  div {
                     gap: 10px;

                     p {
                        font-size: 13px;
                     }
                  }
               }
            }
         }
      }
   }
}