.footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-top: 100px;
   padding-bottom: 30px;

   .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .top {
         position: relative;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: left;
         text-align: left;

         img {
            position: absolute;
            top: 0;
            left: 0;
            // margin-left: -280px;
            display: flex;
            justify-content: left;
         }

         p {
            margin-top: 40px;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.6);
            font-weight: 400;
         }
      }

      .footer_nav {
         display: flex;
         gap: 50px;

         a {
            font-weight: 500;
            font-size: 16px;
            color: #000;
            text-decoration: none;
         }
      }
   }

   hr {
      width: 100%;
      height: 0px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin: 50px 0;
   }

   .flex_2 {
      display: flex;
      justify-content: space-between;
      margin-left: 400px;

      p {
         font-size: 18px;
         color: rgba(0, 0, 0, 0.6);
         font-weight: 400;

         span {
            color: #FF7967;

            a {

               color: #FF7967;
            }
         }
      }

      .links {
         display: flex;
         align-items: center;
         gap: 40px;
      }
   }
}

@media(max-width: 1000px) {
   .footer {
      .flex {
         display: flex;
         flex-direction: column;
         gap: 30px;
      }

      .flex_2 {
         margin: 0;
      }
   }
}

@media(max-width: 600px) {
   .footer {
      .flex_2 {
         display: flex;
         flex-direction: column;
         gap: 20px;
         margin: auto;
      }
   }
}

@media(max-width: 600px) {
   .footer {
      .flex {
         .footer_nav {
            gap: 20px;

            a {
               font-size: 14px;
            }
         }
      }

      .flex_2 {
         gap: 20px;
         height: fit-content;
         text-align: center;

         p {
            font-size: 14px;
         }

         .links {
            gap: 20px;
            text-align: center;
            margin: auto;
         }
      }
   }
}